.vs/
bin/
obj/
packages/
TestResults/
PublishProfiles/
*.suo
*.user
LabScheduler/Web.config
LabScheduler/Web.Debug.config
LabScheduler/Web.Release.config
LabScheduler/Web.Staging.config
LNF.Web.Scheduler.Tests/App.config