{{#each lines}}
<tr class="process-info-line" data-process-info-line-id="{{processInfoLineId}}">
    <td class="param">{{param}}</td>
    <td class="min-value">{{minValue}}</td>
    <td class="max-value">{{maxValue}}</td>
    <td class="edit-delete">
        <a href="#" class="edit-button"></a>
        <a href="#" class="delete-button"></a>
        <a href="#" class="save-button"></a>
        <a href="#" class="cancel-button"></a>
    </td>
</tr>
{{/each}}