.resource-table-container {
    width: 1200px;
    visibility: hidden;
}

.resource-table {
    width: 100%;
}

    .resource-table .action-links-header {
        width: 30px;
    }

    .resource-table .building-name-header, .resource-table .lab-name-header, .resource-table .resource-id-header, .resource-table .schedulable-header {
        width: 80px;
    }

    .resource-table .process-tech-header {
        width: 100px;
    }

    .resource-table .picture-header {
        width: 50px;
    }

    .resource-table .action-links-item, .resource-table .schedulable-item, .resource-table .picture-item {
        text-align: center;
    }

    .resource-table .resource-id-item {
        text-align: right;
    }

.tool-engineer-table {
    border-collapse: collapse;
    width: 100%;
}

    .tool-engineer-table td {
        padding: 5px;
        border: solid 1px #4863A0;
    }

    .tool-engineer-table tr.footer td {
        background-color: #CCFF99;
    }

    .tool-engineer-table td.tool-engineer-action {
        width: 60px;
        text-align: center;
    }

    .tool-engineer-table .tool-engineer-select {
        width: 100%;
    }
