/* version 2.0 */

.treeview {
    margin-left: 0;
}

    .treeview div.node-text {
        /*margin-left: -15px;*/
        background-repeat: no-repeat;
        background-position: left bottom;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
    }

        .treeview div.node-text table.node-text-table {
            table-layout: fixed;
            border-collapse: collapse;
            /*width: 500px;*/
            width: 100%;
        }

            .treeview div.node-text table.node-text-table td {
                height: 32px;
                padding: 0;
            }

                .treeview div.node-text table.node-text-table td.node-text-content img {
                    float: left;
                }

                .treeview div.node-text table.node-text-table td.node-text-content a {
                    float: left;
                    display: block;
                    margin-top: 3px;
                    margin-left: 5px;
                }

                .treeview div.node-text table.node-text-table td.node-text-content a {
                    border: 2px solid transparent;
                    background-color: transparent;
                    padding: 3px;
                    color: #000000;
                }

                    .treeview div.node-text table.node-text-table td.node-text-content a:visited {
                        color: #000000;
                    }

    .treeview li {
        padding-bottom: 5px;
        padding-left: 0;
        margin-left: 0;
        border-bottom: solid 1px #CCC;
    }

        .treeview li.node.selected > div.node-text td.node-text-content a {
            border: 2px solid #0000ff;
            background-color: #cccccc;
        }

        .treeview li.node.collapsed ul {
            display: none;
        }

        .treeview li.branch div.node-text table.node-text-table td.node-text-clickarea {
            width: 30px;
        }

        .treeview li.node.leaf > div.node-text {
            /*background-image: url('images/leaf.png');*/
        }

        .treeview li.leaf div.node-text table.node-text-table td.node-text-clickarea {
            width: 20px;
        }

    .treeview ul {
        list-style: none;
        padding: 5px 0 5px 5px;
        margin-left: 0;
    }

        .treeview ul.root {
            border: none;
        }

            .treeview ul.root > li.node.branch.collapsed > div.node-text {
                background-image: url('//ssel-apps.eecs.umich.edu/static/images/triangle-right.png');
            }

            .treeview ul.root > li.node.branch.expanded > div.node-text {
                background-image: url('//ssel-apps.eecs.umich.edu/static/images/triangle-down.png');
            }

        .treeview ul.child {
            /*border-left: 1px dotted;*/
        }

            .treeview ul.child > li.node.branch.collapsed > div.node-text {
                /*background-image: url('images/child-collapsed.png');*/
            }

            .treeview ul.child > li.node.branch.expanded > div.node-text {
                /*background-image: url('images/child-expanded.png');*/
            }


    /*===== Offline =====================*/
    .treeview div.node-text table.node-text-table td.node-text-content.offline a {
        font-weight: bold;
        background-color: #FF0000;
        color: #EECCCC;
    }

    .treeview div.node-text table.node-text-table td.node-text-content.offline.schedulable-engineer a {
    }

    .treeview div.node-text table.node-text-table td.node-text-content.offline.schedulable-user a {
    }

    .treeview div.node-text table.node-text-table td.node-text-content.offline.not-schedulable {
        color: #A0A0A0;
        font-style: italic;
    }

    /*===== Online ======================*/
    .treeview div.node-text table.node-text-table td.node-text-content.online a {
        font-weight: bold;
        color: #008000;
    }

    .treeview div.node-text table.node-text-table td.node-text-content.online.schedulable-engineer {
        color: #008000;
    }

    .treeview div.node-text table.node-text-table td.node-text-content.online.schedulable-user {
        color: #008000;
    }

    .treeview div.node-text table.node-text-table td.node-text-content.online.not-schedulable {
        color: #A0A0A0;
        font-style: italic;
    }

    /*===== Limited =====================*/
    .treeview div.node-text table.node-text-table td.node-text-content.limited a {
        font-weight: bold;
        background-color: #E5E505;
    }

    .treeview div.node-text table.node-text-table td.node-text-content.limited.schedulable-engineer a {
        color: #008000;
    }

    .treeview div.node-text table.node-text-table td.node-text-content.limited.schedulable-user a {
        color: #008000;
    }

    .treeview div.node-text table.node-text-table td.node-text-content.limited.not-schedulable a {
        color: #000000;
        font-style: italic;
    }
